
.toc {
  display: flex;                /* nebeneinander */
  justify-content: center;      /* zentriert */
  gap: 40px;                    /* Abstand zwischen den Links */
  margin-bottom: 25px;          /* Abstand zum Inhalt */
  font-weight: bold;
}

.toc a {
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
}

.toc a:hover {
  color: #007BFF;
}


// @media (max-width: 768px) {
//   .toc {
//     flex-direction: column !important;  /* Links untereinander */
//     align-items: center;
//     gap: 10px;
//     margin-bottom: 15px;
//   }

//   .toc a {
//     display: block;          /* jeder Link eigene Zeile */
//     text-align: center;
//     font-size: 1em;
//   }
// }

// .main {
//     overflow: visible;   /* oder einfach entfernen */
// }


// .post p {
//     margin-bottom: 1em;
//     line-height: 1.5;
// }

h3 {
    font-size: 1.5em;
}

h4 {
    margin-bottom: 3px;
}


.brand {
    width: 200px;
    height: 55px;
    fill: #5c5c5c;
    }

brand {
    width: 200px;
    height: 55px;
    fill: #5c5c5c;
}

p {
    margin-block-start: 0em;
    margin-top: 0em;
}

.p {
    margin-block-start: 0em;
    margin-top: 0em;
}

.content list-group p{
    margin-top: 0em;
}

html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;   /* Seite füllt immer die Höhe des Viewports */
}

.content {
  flex: 1;              /* Content wächst, Footer bleibt am Ende */
}