.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 90%;
    color: alpha(var(--color-contrast-medium), 0.8);
    a {
        color: alpha(var(--color-contrast-medium), 0.8);
        &:hover {
            color: var(--color-primary);
        }
    }
}

.footer-inner {
    padding: 1em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

.brand {
    width: 200px;
    height: 55px;
    fill: #5c5c5c;
    }

brand {
    width: 200px;
    height: 55px;
    fill: #5c5c5c;
}

.p {
    margin-block-start: 0em;
}