.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 90%;
    color: alpha(var(--color-contrast-medium), 0.8);
    a {
        color: alpha(var(--color-contrast-medium), 0.8);
        &:hover {
            color: var(--color-primary);
        }
    }
}


.footer-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 10em;/* Blocks gleichmäßig verteilen */
  }
  
  .footer-block {
    width: 30%; /* Breite der Blöcke anpassen */
  }
  
  /* Optional: Stil für den Footer-Text */
  .footer-block h4 {
    font-weight: bold;
  }
  

h3 {
    font-size: 1.5em;
}

.brand {
    width: 200px;
    height: 55px;
    fill: #5c5c5c;
    }

brand {
    width: 200px;
    height: 55px;
    fill: #5c5c5c;
}

p {
    margin-block-start: 0em;
    margin-top: 0em;
}

.p {
    margin-block-start: 0em;
    margin-top: 0em;
}

.content list-group p{
    margin-top: 0em;
}