<!--container style="display: flex; justify-content: center;">
    <div style="display: flex; justify-content: center; max-height: 15%;max-width: 60%;">
        <footer id="footer" class="footer">
            <div class="footer-inner">
        <img src="/images/footer/dfg.png" alt="lab" style="width: 200px; height: 100px; background-color: rgba(175, 134, 208, 0.487);">
        <img src="/images/footer/tud.png" alt="lab" style="width: 200px; height: 100px; background-color: rgb(252, 225, 118);">
        <img src="/images/footer/uhh.png" alt="lab" style="width: 240px; height: 100px; background-color: rgb(241, 159, 87);">
 
</div>
</footer-->



<!-- <style>
    /* Neue Klasse für den ergänzten Footer */
/* Neue Klasse für den ergänzten Footer */
/* Neue Klasse für den ergänzten Footer */
.new-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  top: 120%;
  background-color: #fff;
  padding: 2em;
  z-index: 999;
    /* Add flexbox properties to center the content */
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.new-footer img {
  width: 80px;
  height: 80px; /* Setzen Sie die Höhe aller Bilder auf 200px */
}
<style>


</style>
    <div class="new-footer">
        <footer id="footer" class="footer">
            <div class="footer-inner">

                simg src="/images/footer/dfg.png" alt="lab" style="width: 160px; background-color: rgba(175, 134, 208, 0.41);"-->

                <!--img src="/images/footer/tud_logo.png" alt="lab" style="width: 160px">
                img src="/images/footer/uhh.png" alt="lab" style="width: 160px;  background-color: rgba(241, 159, 87, 0.592);"-->
  <!--a href="/content/en/impressum.md">Impressum</a-->     
<style>

.footer-container {
  display: flex;
  justify-content: space-between; /* Blocks gleichmäßig verteilen */
  margin-left: 20em;
  margin-right: 15em;
}

.footer-block {
  width: 30%; /* Breite der Blöcke anpassen */
}

/* Optional: Stil für den Footer-Text */
.footer-block h4 {
  font-weight: bold;
}
  

</style>
  <footer>
    
    <div class="footer-container">
      
      <div class="footer-block">
        <h4 style="margin-bottom: 0em;">Impressum</h4>
        <h6>Verantwortlich:</h6>
        <p>
          Prof. Dr. Evelyn Gius<br />
          Technische Universität Darmstadt <br />
          Institut für Sprach- und Literaturwissenschaft<br />
          Residenzschloss 1 <br />
          64283 Darmstadt
        </p>
      </div>
      <div class="footer-block">
        <h6>Kontakt:</h6>
        <p>
          Telefon: +49 6151 16 57413<br />
          E-Mail: evelyn.gius@tu-darmstadt.de<br />
          
        </p>
      </div>
      <div class="footer-block">
        <h6>Webentwicklung</h6>
        <p>
          Mari Akazawa<br />
          mari.akazawa@tu-darmstadt.de
        </p>
      </div>
    </div>
  </footer>
  