<!--container style="display: flex; justify-content: center;">
    <div style="display: flex; justify-content: center; max-height: 15%;max-width: 60%;">
        <footer id="footer" class="footer">
            <div class="footer-inner">
        <img src="/images/footer/dfg.png" alt="lab" style="width: 200px; height: 100px; background-color: rgba(175, 134, 208, 0.487);">
        <img src="/images/footer/tud.png" alt="lab" style="width: 200px; height: 100px; background-color: rgb(252, 225, 118);">
        <img src="/images/footer/uhh.png" alt="lab" style="width: 240px; height: 100px; background-color: rgb(241, 159, 87);">
 
</div>
</footer-->



<!-- <style>
    /* Neue Klasse für den ergänzten Footer */
/* Neue Klasse für den ergänzten Footer */
/* Neue Klasse für den ergänzten Footer */
.new-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  top: 120%;
  background-color: #fff;
  padding: 2em;
  z-index: 999;
    /* Add flexbox properties to center the content */
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.new-footer img {
  width: 80px;
  height: 80px; /* Setzen Sie die Höhe aller Bilder auf 200px */
}
<style>


</style>
    <div class="new-footer">
        <footer id="footer" class="footer">
            <div class="footer-inner">

                simg src="/images/footer/dfg.png" alt="lab" style="width: 160px; background-color: rgba(175, 134, 208, 0.41);"-->

                <!--img src="/images/footer/tud_logo.png" alt="lab" style="width: 160px">
                img src="/images/footer/uhh.png" alt="lab" style="width: 160px;  background-color: rgba(241, 159, 87, 0.592);"-->
  <!--a href="/content/en/impressum.md">Impressum</a-->     
<style>


.footer-block {
  width: 30%; /* Breite der Blöcke anpassen */
  text-align: left;
}

/* Optional: Stil für den Footer-Text */
.footer-block h4 {
  font-weight: bold;
  font-size: auto;
}

.new-footer, .footer-container {
  position: relative; /* Kein Absolut-Positioning */
  bottom: 0; /* Entfernen, da unnötig */
  width: 100%;
  max-height: 500px;
  background: linear-gradient(to right, #f795331a 0, #f370551a 15%, #ef4e7b1a 30%, #a166ab1a 44%, #5073b81a 58%, #1098ad1a 72%, #07b39b1a 86%, #6dba821a 100%);
  padding: 1em 1em; /* Einheitlicher Abstand */
  z-index: 999; /* Sicherstellen, dass der Footer über dem Inhalt liegt */
  display: flex; /* Flexbox nutzen für ein konsistentes Layout */
  justify-content: space-between; /* Elemente gleichmäßig verteilen */
  align-items: center;
}


.new-footer img, .footer-container img {
  max-width: 150px; /* Einheitliche maximale Breite */
  height: auto; /* Automatische Höhe beibehalten, um Verzerrung zu vermeiden */
  margin: 0 10px; /* Abstand zwischen Bildern */
}
@media (max-width: 768px) {
        .footer-container {
        position: absolute; /* Fixieren des Footers am unteren Bildschirmrand */
        left: 0;
        right: 0;
        bottom: 0;
        /*padding: 5px; /* Kleinerer Abstand für schmale Bildschirme */
      /*  flex-direction: column; Elemente in Spalten anordnen */
        margin-top: -1.5em;
        align-items: center; /* Zentrieren der Elemente horizontal */
            
      }

    .footer-block {
      width: 50%; /* Volle Breite für die Blöcke */
      margin-bottom: 1px; /* Abstand zwischen den Blöcken */
    }
    h4 h6 {
      font-size: 1px;
    }
    p {
      font-size: smaller;
      
    }
    .new-footer img {
    max-height: 10%; /* Kleinere Logos für mobile Ansicht */
  }
  }


</style>
<footer class="new-footer">
  <div class="footer-container">
    <div class="footer-block">
      <h5>Impressum</h5>
      <h6>Verantwortlich:</h6>
      <p>
        Prof. Dr. Evelyn Gius<br />
        Technische Universität Darmstadt<br />
        Institut für Sprach- und Literaturwissenschaft<br />
        Residenzschloss 1<br />
        64283 Darmstadt
      </p>
    </div>
    <div class="footer-block">
      <h6>Kontakt:</h6>
      <p>
        Telefon: +49 6151 16 57413<br />
        E-Mail: evelyn.gius@tu-darmstadt.de
      </p>
      <img alt="tu_logo" src="/images/tuda_logo.png">
    </div>
    <div class="footer-block">
      <h6>Webentwicklung</h6>
      <p>
        Mari Akazawa<br />
        mari.akazawa@tu-darmstadt.de<br />
        Hugo Framework | Theme MemE
      </p>
    </div>
  </div>
</footer>
