<!--container style="display: flex; justify-content: center;">
    <div style="display: flex; justify-content: center; max-height: 15%;max-width: 60%;">
        <footer id="footer" class="footer">
            <div class="footer-inner">
        <img src="./images/dfg.png" alt="lab" style="width: 200px; height: 100px; background-color: rgb(164, 183, 198);">
        <img src="./images/tud.png" alt="lab" style="width: 200px; height: 100px; background-color: rgb(164, 183, 198);">
        <img src="./images/uhh.png" alt="lab" style="width: 240px; height: 100px; background-color: rgb(164, 183, 198);">
 
</div>
</footer-->

<container style="display: flex; justify-content: center;">
    <div style="display: flex; justify-content: center; max-height: 15%;max-width: 60%;">
        <footer id="footer" class="footer">
            <div class="footer-inner" style="width: 810px; height: 135px;">

                <img src="./sponsors.png" alt="lab">

        <!--img src="./images/dfg.png" alt="lab" style="background-color: rgb(164, 183, 198);">
        <img src="./images/tud.png" alt="lab" style="background-color: rgb(164, 183, 198);">
        <img src="./images/uhh.png" alt="lab" style="background-color: rgb(164, 183, 198);"-->
 
</div>
</footer>

