<!DOCTYPE html>
<html>
  <head>
<style>
    .italic {
      font-style: italic;
    }
  </style>
</head>

<body>
  <div class = "main-inner">
    <div id="shortcode-content"> </div> 
  </div>


<script>// API-Schlüssel und Bibliotheks-ID einsetzen
    /**  var apiKey = 'Njmwb0MPtJRSVSgyysrwy9jr';
      var libraryId = '7427590';
      var collectionId= '47PCCWNR';
     
     **/ var url = 'https://api.zotero.org/users/'+libraryId+'/collections/'+collectionId+'/items?format=json&key='+apiKey+ '&limit=100';
 //https://www.zotero.org/momamari/collections/2XU3799V/items?format=json&key=Njmwb0MPtJRSVSgyysrwy9jr
    var apiKey = 'QrDAC57esCVVLi1EaMRg8OJE';
    var libraryId = '538260';
    var groupID = '1547948'; // Gruppen-ID hier einfügen
    var collectionId= '2CYW56EE';
    
   // var url = 'https://api.zotero.org/groups/'+groupID+'/collections/'+collectionId+'/items?format=json&key='+apiKey;
//https://www.zotero.org/groups/1547948/collections/2CYW56EE/items?format=bib&key=QrDAC57esCVVLi1EaMRg8OJE **/

    var baseUrl = 'https://api.zotero.org/groups/' + groupID + '/collections/' + collectionId + '/items';
    var allData = []; // Array zur Speicherung aller Einträge

    function fetchData(page) {
    var url = baseUrl + '?format=json&key=' + apiKey + '&limit=100&start=' + (page * 100);

    // Datenabruf
    fetch(url)
      .then(response => response.json())
      .then(data => {
        // Füge die aktuellen Einträge dem allData-Array hinzu
        allData = allData.concat(data);

        // Überprüfe, ob weitere Seiten vorhanden sind
        if (data.length === 100) {
          // Rufe nächste Seite ab
          fetchData(page + 1);
        } else {
          // Keine weiteren Seiten vorhanden, verarbeite die gesammelten Daten
          processData(allData);
        }
      })
      .catch(error => console.error(error));
  }
  
  // Funktion zum Verarbeiten der gesammelten Daten
  function processData(data) {
    var entriesByYear = {};
    var publicationCount = data.length; // Anzahl der Publikationen

    // Restlicher Code zur Gruppierung der Daten nach Jahr und Anzeige

  for (var i = 0; i < data.length; i++) {
    var item = data[i];
    var date = item.data.date;
    if (!date) continue; // Skip entries without a date
    
   

    var year = getYearFromDate(date);
    if (!year) continue; // Skip entries with an invalid date
   
    var authors = [];
    var editors = [];
//    var programmers = [];
    for (var j = 0; j < item.data.creators.length; j++) {
      var creator = item.data.creators[j];
      if ((creator.creatorType === 'author')||(creator.creatorType === 'programmer')||(creator.creatorType === 'interviewee')) {
        authors.push(creator.lastName + ', ' + creator.firstName);
      } else if (creator.creatorType === 'editor') {
        editors.push(creator.lastName + ', ' + creator.firstName);
      } 
    }

    var title = item.data.title;
    var publisher = item.data.publisher;
    var place = item.data.place;
    var type = item.data.itemType;
    var journal = item.data.journal;
    var container = item.data.container;
    var booktitle = item.data.publication;
    var series = item.data.series;
    var pages = item.data.pages;
    var vol = item.data.volume;
    var seriesnumber = item.data.seriesNumber;
    var url = item.data.url;
    

    // Erstellen eintrag im Chicago-Stil basierend auf der Eintragsart
    var entry = formatAuthors(authors) + '. ' + year + '. "' + title + '". ';
    if (type === 'book') {
      if (editors.length === 0){
        entry = formatAuthors(authors) + '. (Hrsg.). ' + year + '. ' + title + '. ';
        console.log(item.data);
      } else {
        entry = formatAuthors(editors)+ '. (Hrsg.). ' + year + '. ' + title + '. ';
      }
      if (place){
        entry += place + ': ';
      } 
      if (vol){
        entry += "Vol. "+vol+". ";
      }
      if(series) {
        entry += series + " "+seriesnumber + ". ";
      }
      if (publisher) {
        entry += publisher + '. ';
      }
      if (url){
        entry += url + ".";
      }

    } else if (type === 'journalArticle') {
      var container = item.data.containerTitle;
      var journal = item.data.publicationTitle;
      var volume = item.data.volume;
      var doi = item.data.DOI;
      var pages = item.data.pages;

      var edition = item.data.collectionNumber;

      var pagesExist = pages in data;
      var editionExists = edition in data;
      var doiExists = item.data.DOI !== undefined;

      if (journal) {
        entry += '<span class="italic">' + journal + '</span>. ';
      }
      if (volume){
        entry += volume + '. ';
      }
      if (editionExists){
        entry += "("+edition+")"+ '. ';
      }
      if (pages){
        entry += pages + '. ';
      }
      if (doi.length) {
        entry += "DOI: " + doi + '. ';
      } else if (url) {
        entry += url + ".";
      }
    } else if (type === 'conferencePaper') {

      var proceedings = item.data.proceedingsTitle;
      var url = item.data.url;
      var doi = item.data.DOI;
      var event = item.data.event;

      var pagesExist = pages in data;
      var doiExists = item.data.DOI !== undefined;
      var proceedingsExist = proceedings in data;


      if (proceedings){
        entry += 'In <span class="italic">' + proceedings +"</span>. ";
      }
      if (pages){
        entry += pages+'. ';
      }
   
      if (place) {
        entry += place + '. ';
      }
      if (doi.length) {
        entry += 'DOI: ' + doi + '. ';
      }
     
      if (url) {
        entry += url + '.';
      }
    } else if (type === 'bookSection'){
      var booktitle = item.data.bookTitle;
      entry += 'In <span class="italic">' + booktitle +"</span>, "+ pages + ". ";

      if (place){
        entry += place + ': ' + publisher + '.';
      } 
      if (publisher){
        entry += publisher + ".";
      } else {
        entry += url + '.';
      }

     // console.log(item.data);
    } else if  (type === 'document'){
      var url = item.data.url;
      if (publisher){
        entry += publisher + '.' + url + '.';
      } else {
        entry += url + '.';
      }
    } else if (type === 'dataset'){
      //console.log(item.data);
      var rep = item.data.repository;
      var doi = item.data.DOI;
      entry += rep + '. DOI: ' + doi + '.';

    } else if (type==='computerProgram') {
      var company = item.data.company;
      var url = item.data.url;

      if (company) {
        entry += company + "." + url + '.';
      } else {
        entry += url + ".";
      }
//      console.log(item.data);

    } else if (type === 'blogPost'){
      var blogTitle = item.data.blogTitle;
      entry += blogTitle + ". " + url + '.';
    
    }
    else {
      var url = item.data.url;
      var containerTitle = item.data.containerTitle
      var col = item.data.collectionTItle
      entry += url + '.';
      //console.log(item.data);

    }




    // Dictionary Jahr: Eintrag
    if (!(year in entriesByYear)) {
      entriesByYear[year] = [entry];
    } else {
      entriesByYear[year].push(entry);
    }
  }


    /** Gib die Summe der Publikationen aus
    var sumHeader = document.createElement('h2');
    sumHeader.innerText = 'Summe der Publikationen: ' + publicationCount;
    sumHeader.style.paddingLeft = '3em';
    document.body.prepend(sumHeader); // Am Anfang des Dokuments einfügen
  
**/

  // Iterieren über Dictionary und EInträge ausgeben
  Object.keys(entriesByYear)
  .sort((a, b) => {    // Sortieren Sie die Jahre absteigend
    if (a === "Forthcoming" && b !== "Forthcoming") {
      return -1; // "Forthcoming" first
    } else if (b === "Forthcoming" && a !== "Forthcoming") {
      return 1; // "Forthcoming" should come first
    } else {
      return b - a; // remaining years in descending order
    }
  })
  .forEach(function(year) {
    var yearHeader = document.createElement('h2');
    yearHeader.innerText = year;
    //yearHeader.style.paddingLeft = '11em';
    document.getElementById('shortcode-content').appendChild(yearHeader);

    var entries = entriesByYear[year];
    var uniqueEntries = [...new Set(entries)];
    uniqueEntries.sort();

    //var entryList = document.createElement('ul'); // Erstelle <ul>-liste

    uniqueEntries.forEach(function(entry) {
      var entryParagraph = document.createElement('span');
//      var entryItem = document.createElement('li'); // Erstelle li element
      entryParagraph.style.display = "inline-block";
      entryParagraph.style.marginBottom ="1em";

      entryParagraph.innerHTML = entry;
     // entryParagraph.style.paddingLeft = '20em';
     // entryParagraph.style.paddingRight = '10em';
      document.getElementById('shortcode-content').appendChild(entryParagraph);
    });

  });
  }



  // Funktion zum Extrahieren des Jahres aus verschiedenen Datumsformaten
  function getYearFromDate(dateString) {
    var dateParts = dateString.split(/[^\d]+/);
    var year = dateParts.find(part => part.length === 4);
  
    if (year) {
      return year;
    }
  
    var possibleYear = parseInt(dateParts[dateParts.length - 1]);
    if (!isNaN(possibleYear)) {
      return possibleYear.toString();
    }
  
    return "Forthcoming";

    var attributes = Object.keys(data);
    for (var i = 0; i < attributes.length; i++) {
      var attributeName = attributes[i];
      var attributeValue = data[attributeName];
      console.log(attributeName + ": " + attributeValue);
    }
  } 

  function formatAuthors(authors) {
    if (authors.length === 1) {
      return authors[0];
    } else if (authors.length === 2) {
      const [firstAuthor, secondAuthor] = authors;
      const firstName1 = firstAuthor.split(',')[1].trim();
      const lastName1 = firstAuthor.split(',')[0].trim();
      const firstName2 = secondAuthor.split(',')[1].trim();
      const lastName2 = secondAuthor.split(',')[0].trim();
      return `${lastName1}, ${firstName1} und ${firstName2} ${lastName2}`;
    } else if (authors.length > 2) {
      const [firstAuthor, ...remainingAuthors] = authors;
      const formattedRemainingAuthors = remainingAuthors.map(author => `${author.split(',')[1].trim()} ${author.split(',')[0].trim()}`);
      const lastAuthor = formattedRemainingAuthors.pop();
      return `${firstAuthor.split(',')[0].trim()}, ${firstAuthor.split(',')[1].trim()}, ${formattedRemainingAuthors.join(', ')} und ${lastAuthor}`;
    }
    return '';
  }
  
  fetchData(0);



</script>


</body>
</html>
