<!DOCTYPE html>
<html>
  <head>
    <title>Pretty flower</title>
  </head>
  <style>
  .container {
    align-items: center;
    justify-content: center;
  }
  
  img {
    max-width: 30%;
    max-height:20%;
    float: right;
  }
  
  </style>
  <body>
    <div class="container">
      <div class="image">
        <p>
        <a href="https://catma.de">
        <img src="/images/catma.png">
    </a>
</p>
      </div>
      <div style="display: block;">
        In forTEXT erarbeiten wir einsteigerfreundlich aufbereitete Methodenbeschreibungen, Textsammlungen und Tools – von der Digitalisierung über die digitale Annotation zur digital unterstützten Interpretation und Visualisierung von Literatur. Wir Materialien zum Selbstlernen und zum Lehren der digitalen Textanalysemethoden an Uni und Schule bereit. Alle Inhalte stellen wir auf fortext.net frei zugänglich zur Verfügung.
      </div>
    </div>
  </body>
</html>