<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <style>
  .container {
    align-items: center;
    justify-content: center;
  }
  
  img {
    width: 30%;
    max-width: 20%;
    max-height:10%;
    float: right;
  }
  
  </style>
  <body>
    <div class="container">
      <div class="image">
        <p>
        <a href="https://jcls.io">
        <img src="./jcls.jpg">
    </a>
</p>
      </div>
      <div style="display: block;">
        <h4>JCLS</h4>
        <p>
            Das Journal of Computational Literary Studies (JCLS) ist eine internationale, frei zugängliche, Peer-Reviewed-Zeitschrift Online-Zeitschrift, die von Evelyn Gius, Christof Schöch und Peer Trilcke herausgegeben wird und redaktionell vom fortext lab unterstützt wird. Die Zeitschrift bietet eine Publikationsplattform für Arbeiten zur Entwicklung, Anwendung und Kritik computergestützter Ansätze in den Literaturwissenschaften.     </p>
      </div>
    </div>
  </body>
</html>
