<main class="main single" id="main">
    <div class="main-inner">
<figure style="display: block; transform: translate(-50px,-260px);">
    <img src="images/logo.png" alt="team" style="width: 60%">
    <h4 style="transform: translate(220px,-50px);">Computational Literary Studies</h4>
    
</figure>

<br>

<figure>
    <img>
    <img src="images/fortextlab_ubersicht.png" alt="lab" style="width: 130%;transform: center;transform: translateY(-190px);margin-bottom: -280px;">
    <img>
</figure>


    </div>
</main>