<!DOCTYPE html>
    <html>
      <head>
        <title></title>
      </head>
      <style>
      .container {
        align-items: center;
        justify-content: center;
      }
      
      .img {
        
        max-width: 60%;
        max-height: 100%;

       
        float: right;
        margin-top: 50px;
        margin-left: 35px;
        border: 0;
        outline: 0;
    
        margin-right: 0;
      }
    
      </style>
      <body>
        <div class="container">
          <div class="img">
     
           
            <img src="../images/lab02.png" alt="lab">


          </div>
          <div style="display: block;">
            <h2> Über uns</h2>
            <p>
                Wir nutzen und entwickeln computationelle Methoden zur Analyse von (literarischen) Texten, zur theoretischen Entwicklung von Analysekonzepten und zur Unterstützung des computationellen und manuellen Analyseprozesses. Der fachliche Fokus unserer Arbeit liegt dabei auf den Computational Literary Studies und Computational Narratology.<br>
 </p>
          </div>
        </div>
      </body>
    </html>   