
<main class="main single" id="main">
    <div class="main-inner">
<figure style="display: block">
    <img src="/images/logo.png" alt="team" style="width: 60%;transform: translate(-10px,-220px);">
    <!--h4 style="transform:translate(100px,-250px);text-transform: italics;"-->
    <h4 style="transform: translate(80px,-260px);">
        Computational Literary Studies
    </h4>
    <br>
</figure>

<figure>
    <img>
    <img src="/images/de_2.png" alt="team" style="width: 100%;transform: center;transform: translate(0,-60%);margin-bottom: -35em;">
    <img>
</figure>


    </div>
</main>