
{{ range $projektgruppe := (readDir "/content/de/projekte/") }}
    {{ with $projektgruppe := $projektgruppe }}
        {{ if eq $projektgruppe.IsDir true }}
            {{ if eq $projektgruppe.Name "dis_pub_reihen"}}
                <h2> Dissimination und Publikationsreihen</h2>
             
                
                {{ else }} <h2>{{ $projektgruppe.Name }}</h2>{{ end }}
                
     
            {{ range $einzelprojekt := (readDir (print "/content/de/projekte/" $projektgruppe.Name)) }}
                {{ with $einzelprojekt := $einzelprojekt }}
                    {{ if eq $einzelprojekt.IsDir false }}
                        {{ $content := (readFile (print "/content/de/projekte/" $projektgruppe.Name "/" $einzelprojekt.Name)) }}
                        {{ $metadata := index (split $content "---") 1 }}
                        {{ $title := index (split $metadata "title:") 2 }}
                        {{ $body := index (split $content "---") 2 }}
                        <h3>{{ $title }}</h3>
                        {{ $body | markdownify }}

                    {{ end }}
                {{ end }}
            {{ end }}
        
        {{ end }}
    {{ end }}
{{ end }}



