<style>
  .team-member {
    display: flex;
    align-items: center;
    margin-bottom: 2.5em;
  }
  
  .team-member .img {
    flex: 0 0 auto; /* Das Bild behält seine ursprüngliche Größe */
    margin-right: 30px;
  }
  
  .team-member .text {
    margin-top: -2em;
    flex: 1 1 auto; /* Der Text erstreckt sich über den verfügbaren Platz */
  }
</style>

{{ $teamPath := "content/de/lab_team" }}
{{ $teamMembers := readDir $teamPath }}

{{ range $teamMembers }}
  {{ if .IsDir }}
    {{ $memberPath := print $teamPath "/" .Name }}
    {{ $bioPath := print $memberPath "/bio.md" }}
    {{ $bioContent := readFile $bioPath }}
    {{ $yaml := index (split $bioContent "---") 1 }}
    {{ $title := index (index (split $yaml "\n") 0) 7 }}
    {{ $body := index (split $bioContent "---") 2 }}
    {{ $imagePath := print .Name ".png" }}

    <div class="team-member">
      <div class="img">
        <img src="{{ $imagePath }}" alt="Team Member Image" width="200">
      </div>
      <div class="text">
        {{ $body | markdownify }}
      </div>
    </div>
  {{ end }}
{{ end }}
