
<style>
  .container {
      align-items: center;
      justify-content: center;
    }
    
  .img {
      max-width: 20%;
      max-height:10%;
      float: left;
    }
  </style>
  
  {{ $teamPath := "content/de/lab_team" }}
  {{ $teamMembers := readDir $teamPath }}
  
  {{ range $teamMembers }}
    {{ if .IsDir }}
      {{ $memberPath := print $teamPath "/" .Name }}
      {{ $bioPath := print $memberPath "/bio.md" }}
      {{ $bioContent := readFile $bioPath }}
      {{ $yaml := index (split $bioContent "---") 1 }}
      {{ $title := index (index (split $yaml "\n") 0) 7 }}
      {{ $body := index (split $bioContent "---") 2 }}
      {{ $imagePath := print .Name ".png" }}
     
  
      <div class="main-inner" style="margin-top: 2em;margin-bottom: 8em;">
        
        <div style="float: left; margin-right: 30px; margin-top: -25px;">
          <!--img src="{{ $imagePath }}" alt="Team Member Image" width="200"-->
          <img src="{{ $imagePath }}" alt="Team Member Image" width="180">
        </div>
        <div>
          
       
          {{ $body | markdownify }}
        
        </div>
      
    
      </div>

    {{ end }}
  {{ end }}
  
  
  
  