<!DOCTYPE html>
<html>
  <head>
  </head>
  <style>
  .container {
    align-items: center;
    justify-content: center;
  }
  
  img {
    max-width: 30%;
    max-height:20%;
    float: right;
  }
  
  </style>
  <body>
    <div class="container">
        
      <div class="image">
        <p>
        
        <img src="/Users/mariakazawa/NLP_Courses/fortext/lab/content/lab_team/dominik/img.png">
    </a></p>
      </div>
      <div style="display: block;">
        Dominik Gerstorfer ist wissenschaftlicher Mitarbeiter im fortext lab, wo er sich hauptsächlich mit Fragen der Methodologie, Wissenschaftsphilosophie und Theorieentwicklung beschäftigt. 
      </div>
    </div>
  </body>
</html>