
<main class="main single" id="main">
    <div class="main-inner">
<figure style="display: block">
    <img src="/images/logo.png" alt="team" style="width: 60%;transform: translate(-10px,-220px);">
    <!--h4 style="transform:translate(100px,-250px);text-transform: italics;"-->
    <h4 style="transform: translate(80px,-260px);">
        Computational Literary Studies
    </h4>
</figure>
<figure>
    <img>
    <img src="/images/fortext_overview.001.png" alt="team" style="width: 110%;transform: center;transform: translateY(-270px);margin-bottom: -35em;">
    <img>
</figure>

    </div>
</main>