<!DOCTYPE html>
    <html>
      <head>
        <title></title>
      </head>
      <style>
      .container {
        align-items: center;
        justify-content: center;
      }
      
      .img {
        
        max-width: 50%;
        max-height: 50%;

       
        float: right;
    
        margin-left: 2.0em;
        border: 0;
        outline: 0;
    
        margin-right: 0;
        margin-top: 2.3em;
      }
    
      </style>
      <body>

        <div class="container">

          <div class="img">
     
           
            <img src="../images/gruppe.png" alt="group" style="width:90%">


          </div>
          <div style="display: block;margin-right: 0.5em;">
            <h2 style="font-style: italic;"> About Us</h2>
           
     
            <p>
              <br>
            The fortext lab, directed by Evelyn Gius at the Technical University of Darmstadt, conducts research in the field of Digital Humanities. We specialize in Computational Literary Studies and Computational Narratology and focus on the use and development of computational methods for the analysis of (literary) texts, the theoretical development of analytical concepts, and the support of the computational and manual analysis processes.
We believe that the meaningful combination of humanistic and computational text understanding is essential for the relevance of our research. Our activities aim to contribute to the meaningful application of Digital Humanities, particularly in the text-based humanities.
The fortext lab has therefore been home to the open-source annotation tool <a href='https://catma.de'>CATMA</a> since 2008 and provides comprehensive information on methods and tools of Digital Humanities on the portal <a href='https://fortext.net'>fortext.net</a>.
</p>
           
          </div>
        </div>
        <h2 style="margin-top: 6em;font-style: italic;">Our Project Areas</h3>
        <img src="../images/flab_02.png" alt="lab" style="width: 160%;">

        
      </body>
    </html>   

