<style>
  .team-member {
    display: flex;
    margin-top: 5em;
    margin-bottom: 2.5em;
  }
  
  .team-member .img {
    flex: 0 0 auto; /* Das Bild behält seine ursprüngliche Größe */
    margin-right: 30px;
  }
  
  .team-member .text {
    margin-top: -2em;
    flex: 1 1 auto; /* Der Text erstreckt sich über den verfügbaren Platz */
  }
  
  /* Media-Query für kleine Bildschirme */
  @media screen and (max-width: 768px) {
    .team-member {
      flex-direction: column; /* Ändert die Anordnung in eine Spalte */
      align-items: flex-start; /* Text beginnt am linken Rand */
    }
    
    .team-member .img {
      margin-right: 0; /* Entfernt den rechten Abstand des Bildes */
      margin-bottom: 1em; /* Fügt einen Abstand unter dem Bild hinzu */
    }
  }
</style>

{{ $teamPath := "content/en/team" }}
{{ $teamMembers := readDir $teamPath }}
{{ $teamImagePath := "/images/lab_team" }}

{{ range $teamMembers }}
  {{ if .IsDir }}
    {{ $memberPath := print $teamPath "/" .Name }}
    {{ $bioPath := print $memberPath "/bio.md" }}
    {{ $bioContent := readFile $bioPath }}
    {{ $yaml := index (split $bioContent "---") 1 }}
    {{ $title := index (index (split $yaml "\n") 0) 7 }}
    {{ $body := index (split $bioContent "---") 2 }}
    {{ $imagePath := print $teamImagePath "/" .Name ".png" }}

    <div class="team-member">
      <div class="img">
        <img src="{{ $imagePath }}" alt="Team Member Image" width="175">
      </div>

      <div class="text">
        <!-- IMAGE PATH {{ $imagePath }}
        member PATH {{ $memberPath }}
        bioPATH {{ $bioPath }}
        -->
        {{ $body | markdownify }}
      </div>
    </div>
  {{ end }}
{{ end }}

