<style>
  .container {
    display: flex;
    align-items: flex-start;
    gap: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .container img {
    width: 30%;
    max-width: 30%;
    max-height: 100px; /* Du kannst auch `auto` oder rem verwenden */
    object-fit: contain;
  }

  .text-content {
    flex: 1;
  }
</style>

<div class="container">
  <div class="text-content">
    <h4>{{ .Get "Title" }}</h4>
    <p>{{ .Get "Description" | safeHTML }}</p>
  </div>
  <div class="image">
    <a href="{{ .Get "Link" }}">
      <img src="{{ .Get "ImagePath" }}" alt="{{ .Get "Title" }}">
    </a>
  </div>
</div>
