<style>
    .container {
      align-items: center;
      justify-content: center;
    }
  
    img {
    width: auto;
    max-width: 200px; /* oder ein % je nach Layout */
    max-height: 80px;  /* Bildhöhe limitieren */
    float: right;
    margin-top: 1em;
    margin-left: 1.5em;
    margin-bottom: 1em;
  }

  </style>
<div class="container">
    <div class="image">
      <p>
        <a href="{{ .Get "Link" }}">
          <img src="{{ .Get "ImagePath" }}">
        </a>
      </p>
    </div>
    <div style="display: block;">
      <h4>{{ .Get "Title" }}</h4>
      <p>
        {{ .Get "Description" }}
      </p>
    </div>
  </div>
  

  