{{ $imagePath := .Get "ImagePath" }}
{{ $title := .Get "Title" }}
{{ $description := .Get "Description" }}
{{ $projectAreasTitle := .Get "Pubtitle" }}
{{ $projectAreasImage := .Get "Imagetitle" }}

<style>
  .team-member {
    display: flex;
    align-items: center;
    margin-bottom: 2.2em;
  }
  
  .team-member-img {
    flex: 0 0 auto; /* Das Bild behält seine ursprüngliche Größe */
    margin-right: 30px;
    margin-top: -1em;
  }
  
  .team-member-text {
    margin-top: -1em;
    flex: 1 1 auto; /* Der Text erstreckt sich über den verfügbaren Platz */
  }
  
  /* Media-Query für kleine Bildschirme */
  @media screen and (max-width: 768px) {
    .team-member {
      flex-direction: column; /* Ändert die Anordnung in eine Spalte */
      align-items: flex-start; /* Text beginnt am linken Rand */
    }
    
    .team-member .img {
      margin-right: 0; /* Entfernt den rechten Abstand des Bildes */
      margin-bottom: 1em; /* Fügt einen Abstand unter dem Bild hinzu */
    }
  }
</style>

<div class="team-member">
    <h3>{{ $title | markdownify }}</h3>
  <div class ="team-member-text">
    <p>
    {{ $description | markdownify }} <!-- Render the Description HTML as safe HTML -->
  </p>
  </div>
  <div class ="team-member-img">
    <img src="{{ $imagePath }}" alt="{{ $title }}">
  </div>
</div>